body {
    margin: 0;
    padding: 0;
    color: #000;
}

:root {
    --hg-60px: 60px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height: var(--hg-60px);
    font-weight: bold;
    background-color: #fff;
    box-sizing: border-box;
}

.logo-img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item:not(:last-child) {
    margin-right: 20px;
}

.main-content {
    height: 500px;
    background: url(../images/banner.png) center no-repeat;
    background-size: cover;
}

.main-wrapper {
    flex-direction: column;
    justify-content: center;
}

.main-content-logo-img {
    width: 200px; 
    height: 200px;
}

.main-content-header {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
  
.main-content-p {
    margin-bottom: 3rem;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.main-content-button {
    display: inline-block;
    background: 0;
    padding: 15px 25px;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.main-advantages-title {
    padding-bottom: 20px;
    font-size: 28px;
}

.section-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto; 
}

.advantages {
    height: 250px;
    overflow-x: hidden;
}

.advantages-item {
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
    width: 310px;
}

.about {
    background-color: #f7f7f7;
}

.about-info {
    max-width: 500px;
}

.about-title {
    justify-content: flex-start;
    font-size: 28px;
}

.about-text {
    padding-bottom: 10px;
    padding-top: 10px; 
}

.rest-title {
    justify-content: flex-start;
    font-size: 28px;
}

.rest-text {
    padding-bottom: 10px;
    padding-top: 10px;
}

.rest-info {
    max-width: 500px;
}

.form {
    background-color: #f7f7f7;
}

.form-wrapper {
    flex-direction: column;
    justify-content: center;
    padding: 80px;   
}

.form-title {
    text-align: center;
    font-size: 28px;
    padding-bottom: 30px;
}

.form fieldset {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #2ed5b2;
}

.form fieldset + fieldset {
    margin-top: 30px;
    width: 450px;
}

.form legend {
    color: #2ed5b2;
    font-size: 24px;
    font-weight: bold;
}

.form-item {
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-desc {
    border-radius: 10px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
}

.form-label {
    font-weight: bold;
}

.form-select {
    width: 150px;
    margin-right: 50px;
    margin-left: 30px;
}

.form-input {
    width: 200px;
}

.form-button {
    padding: 10px 20px;
    border: 1px solid #2ed5b2;
    color: #2ed5b2;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    background-color: transparent;
}

.footer {
    background-color:rgb(48, 56, 70);
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-panel {
    flex-direction: column;
}

.footer-panel-left {
    align-items: flex-start;
}

.footer-panel-right {
    align-items: flex-end;
}

.footer-copyright {
    margin-top: 20px;
}

.footer-title {
    margin-top: 0;
    padding-bottom: 20px;
}

.footer-list {
    text-align: left;
    padding: 0;
    margin: 0;
}

.logo-text-footer {
    padding-top: 10px;
    font-weight: bold;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.color-gray {
    color: rgb(48, 56, 70);
}

.pd-60 {
    padding-top: var(--hg-60px);
    padding-bottom: var(--hg-60px);
}

.align-center {
    align-items: center;
}

.white {
    color: white;
}

.text-16px {
    font-size: 16px;
}

.wd-100 {
    width: 100%;
}

.wd-390 {
    width: 390px;
}

.txt-dec-none {
    text-decoration: none;
}

.inherit {
    color: inherit;
}

.jc-around {
    justify-content: space-around;
}

