.body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #000;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    background-color: #fff;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo-text {
    color: rgb(48, 56, 70);
}

.logo-img {
    display: block;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.menu-item:not(:last-child) {
    margin-right: 20px;
}

.menu-link {
    text-decoration: none;
    color: rgb(48, 56, 70);
    display: block;
}

.main {
    color: rgb(48, 56, 70);
    font-family: Arial, sans-serif;
}

.main-content {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../images/banner.png') center;
}

.main-content-logo-img {
    width: 15%; 
    height: 25%;
}

.main-content-header {
    color: white;
    font-size: 50px;
    padding-top: 10px;
    margin: 0;
}

.main-content-p {
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.main-content-button {
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    background-color: transparent;
    text-decoration: none;
}

.main-advantages-title {
    padding-bottom: 20px;
    font-size: 28px;
}

.main-advantages-content {
    font-size: 14px;
}

.section-wrapper {
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.advantages {
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    padding-top: 60px;
    padding-bottom: 40px;
}

.advantages-wrapper {
    display: flex;
    justify-content: space-between;
}

.advantages-item {
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
    width: 310px;
}

.about {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 50px;
}

.about-wrapper {
    display: flex;
    justify-content: center;
}

.about-info {
    max-width: 500px;
    margin-right: 150px;
}

.about-title {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 28px;
}

.about-text {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    
}

.about-img {
    width: 390px;
    padding-top: 30px;
}

.about-img-picture {
    width: 100%;
    display: block;
}

.rest {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
}

.rest-wrapper {
    display: flex;
    justify-content: center;
}

.rest-title {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 28px;
}

.rest-text {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}

.rest-info {
    max-width: 500px;
    margin-left: 150px;
}

.rest-img {
    width: 390px;
    padding-top: 30px;
}

.rest-img-picture {
    width: 100%;
    display: block;
}

.form {
    background-color: #f7f7f7;
    padding: 40px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    
}

.form-title {
    text-align: center;
    font-size: 28px;
    padding-bottom: 30px;
}

.form fieldset {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #2ed5b2;
}

.form fieldset + fieldset {
    margin-top: 30px;
    width: 450px;
}

.form legend {
    color: #2ed5b2;
    font-size: 18px;
    font-weight: bold;
}

.form-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-label {
    font-weight: bold;
}

.form-select {
    width: 150px;
    margin-right: 50px;
    margin-left: 30px;
    border-radius: 10px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
}

.form-input {
    width: 200px;
    border-radius: 10px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
}

.form-button {
    padding: 10px 20px;
    border: 1px solid #2ed5b2;
    color: #2ed5b2;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    background-color: transparent;
}

.footer {
    width: 100%;
    background-color: #2f3746;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-wrapper {
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-panel {
    display: flex;
    flex-direction: column;
}

.footer-panel-left {
    align-items: flex-start;
}

.footer-panel-center {
    align-items: center;
}

.footer-panel-right {
    align-items: flex-end;
}

.footer-copyright {
    margin-top: 20px;
}

.footer-title {
    margin-top: 0;
    padding-bottom: 20px;
}

.footer-list {
    text-align: left;
    padding: 0;
    margin: 0;
}

.footer-list-link {
    color: inherit;
    text-decoration: none;  
}

